<div ng-app='crummy'>

  <div class="mainBody" ng-controller="LoginController as loginCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
         <h3>Crummy</h3>
        </div>
        <button type="button" class="btn btn-default navbar-btn pull-right"
        ng-show="current_user" ng-click="loginCtrl.logout()">Sign Out</button>
      </div>
   </nav>
  <login-form ng-hide="current_user"></login-form>

  </div>
  <div ng-controller='KidListController as kidlist' ng-show="current_user">
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <kid-list></kid-list>
        </div>
        <div class='col-sm-8'>
          <div class='container-fluid'>
            <div class='row'><div class='col-xs-12'>
              <kid-details-div></kid-details-div>
            </div>
            <div class='row'><div class='col-xs-12'>
              <div class="container-fluid" ng-app="kid-events" ng-controller="KidEventController">
                <event-index></event-index>
                <event-forms></event-forms>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
