<div ng-app='crummy'>
  <login-form ng-hide="current_user"></login-form>
  <div ng-controller='KidListController as kidlist' ng-show="current_user">
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <kid-list></kid-list>
        </div>
        <div class='col-sm-8'>
          <div class='container-fluid'>
            <div class='row'><div class='col-xs-12'>
              <kid-details-div></kid-details-div>
            </div>
            <div class='row'><div class='col-xs-12'>
              <div class="container-fluid" ng-app="kid-events" ng-controller="KidEventController">
                <event-index></event-index>
                <event-forms></event-forms>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
