<div ng-app='crummy'>
  <div ng-hide='current_user'>
    <!-- Login/signup form will go here -->
  </div>
  <div ng-controller='KidListController as kidlist' ng-init='getKidList()'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <div id='kidlist' class='list-group'>
            <div class='list-group-item'><h4>Kids</h4></div>
            <a ng-repeat='kid in kidlist.kids' class='list-group-item' ng-class='{ active: kidlist.current_kid == kid }' ng-click='kidlist.current_kid = kid'>
              {{kid.name}}
            </a>
            <div class='list-group-item' ng-hide='kidlist.show_form'>
              <button class='btn btn-default' ng-click='kidlist.show_form = true'>Add Kid</button>
            </div>
            <form class='list-group-item form-inline' ng-submit='kidlist.create()' ng-show='kidlist.show_form'>
                <input class='form-control' ng-model='kidlist.new_kid.name'></input>
                <button type='submit' class='btn btn-default'>Save</button>
            </form>
          </div>
        </div>
        <div class='col-sm-8'>
          <div class='container'>
            <div class='row'><div class='col-xs-12'>
              <!-- kid details here -->
            </div></div>
            <div class='row'><div class='col-xs-12'>
              <div class="container" ng-app="kid-events" ng-controller="KidEventController">
                <h1 class="text-center">Events</h1>

                <div class="btn-group" dropdown is-open="status.isopen" ng-controller="DropdownCtrl">
                  <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    Create a new Event <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Medicine</a></li>
                    <li><a href="#">Height/Weight</a></li>
                    <li><a href="#">Temperature</a></li>
                    <li><a href="#">Symptom</a></li>
                  </ul>
                </div>

                <div class="list-group-item" ng-repeat="event in events">
                  <h3 class="text-center">Date: {{event.datetime}}</h3>
                  <h3 class="text-center">Type: {{event.type}}</h3>
                  <h3>{{event.name}}</h3>
                  <h3>{{event.amount}}</h3>
                  <h3>{{event.description}}</h3>
                  <h3>{{event.temperature}}</h3>
                  <h3>{{event.height}}</h3>
                  <h3>{{event.weight}}</h3>
                  <a class="btn btn-primary btn-lg" href="#">Duplicate</a>
                </div>

              </div>
            </div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
