<div ng-app='crummy'>

  <div ng-controller="LoginController as loginCtrl">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <h3>Crummy</h3>
    </div>
      <button type="button" class="btn btn-default navbar-btn pull-right"
      ng-show="current_user" ng-click="loginCtrl.logout()">Sign Out</button>
  </div>
</nav>
  <login-form ng-hide="current_user"></login-form>

  </div>
  <div ng-controller='KidListController as kidlist' ng-show="current_user">
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <div id='kidlist' class='list-group'>
            <div class='list-group-item'><h4>Kids</h4></div>
            <a ng-repeat='kid in kidlist.kids' class='list-group-item' ng-class='{ active: kidlist.current_kid == kid }' ng-click='kidlist.setKid(kid)'>
              {{kid.name}}
            </a>
            <div class='list-group-item' ng-hide='kidlist.show_form'>
              <button class='btn btn-default' ng-click='kidlist.show_form = true'>Add Kid</button>
            </div>
            <form class='list-group-item form-inline' ng-submit='kidlist.create()' ng-show='kidlist.show_form'>
                <input class='form-control' ng-model='kidlist.new_kid.name'></input>
                <button type='submit' class='btn btn-default'>Save</button>
            </form>
          </div>
        </div>
        <div class='col-sm-8'>
          <div class='container'>
            <div class='row'><div class='col-xs-12'>
              <!-- kid details here -->

            </div>
            <div class='row'><div class='col-xs-12'>
              <div class="container" ng-app="kid-events" ng-controller="KidEventController">
                <event-index></event-index>
                <event-forms></event-forms>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
