<div ng-app='crummy'>
  <div ng-controller='SessionsController as session' ng-hide='current_user'>
    <!-- Login/signup form will go here -->
  </div>
  <div ng-controller='KidListController as kids' ng-show='current_user'>
    <!-- actual app goes here -->
  </div>
</div>
