<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<h1 class="title">Crummy</h1>
				<h2 class="subtitle">Simplifies record keeping of a family's medical history</h2>

				<h3 class="tagline"><strong>
					Quickly add and track important data relating to doctor visits and medication,<br>
					and symptoms.  Access primary care numbers quickly in case of emergency.
				</strong>
				</h3>

				<p>Site description?</p>
				<button>Login</button>
				<button>Sign Up</button>

			</div>
		</div>

	</div>
</section>

<section>
	<div class="panel panel-primary">
		<div class="panel-body text-center">
				<div class="col-sm-4 ">
			     Maintain important contact information.
			    <center> <%= image_tag 'screenshot.png' %> </center>
			  </div>

			  <div class="col-sm-4 ">
			     Keep track of family members.
			    <center> <%= image_tag 'kids.png' %> </center>
		    </div>

			  <div class="col-sm-4">
			     Quickly add events relating to medical history.
			   <center>  <%= image_tag 'stats.png' %> </center>
		  	</div>
		  </div>
  </div>
</section>

