<form name="newEvent" ng-submit="create(form, 'Symptom')"><h2>New Event</h2><br>
  <label for="datetime">Date:<br>
    <p class="input-group" ng-controller="DatepickerCtrl">
      <input type="text" style="length: 50px;" class="form-control" datepicker-popup="MM/dd/yyyy" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="datetime" ng-model="event.datetime"/>
      <span class="input-group-btn">
        <button type="button" style="float: left" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
    <timepicker ng-model="event.time"></timepicker>
  </label>
  <label for="description">Description:<br>
    <input type="text" name="description" ng-model="event.description" ng-required="true">
  </label><br>
  <div class="submit-buttons">
    <input class="btn btn-primary btn-sm" type="submit" value="Submit"/>
    <a class="btn btn-primary btn-sm" ng-click="form.setForm(0); clearformdata()">Back</a>
  </div>
</form>
