<form name="editEvent" ng-submit="edit(form, event)" ng-show="showform">
  <h2>Edit Event</h2><br>
  <label for="datetime">Date:<br>
    <p class="input-group" ng-controller="DatepickerCtrl">
      <input type="text" style="length: 50px;" class="form-control" datepicker-popup="MM/dd/yyyy" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="datetime" ng-model="event.datetime"/>
      <span class="input-group-btn" style="float: left">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
    <timepicker ng-model="event.time"></timepicker>
  </label><br>
  <label ng-show="event.type == 'Medicine'" for="meds">Meds:<br>
    <input ng-show="event.type == 'Medicine'" type="text" name="meds" ng-model="event.meds">
  </label><br>
  <label ng-show="event.type == 'Symptom'" for="description">Description:<br>
    <input ng-show="event.type == 'Symptom'" type="text" name="description" ng-model="event.description">
  </label><br>
  <label ng-show="event.type == 'Temperature'" for="temperature">Temperature:<br>
    <input ng-show="event.type == 'Temperature'" type="number" step="0.1" name="temperature" ng-model="event.temperature">
  </label><br>
  <label ng-show="event.type == 'HeightWeight'" for="height">Height:<br>
    <input ng-show="event.type == 'HeightWeight'" type="text" name="height" ng-model="event.height">
  </label><br>
  <label ng-show="event.type == 'HeightWeight'" for="weight">Weight:<br>
    <input ng-show="event.type == 'HeightWeight'" type="text" name="weight" ng-model="event.weight">
  </label><br>
  <input type="submit" value="Submit"/>
</form>
