  <div class="container-fluid" ng-show="kidlist.current_kid">
    <h1 class="text-center">Events</h1>
    <div class="container">
      <event-forms></event-forms>
    </div>
    <div class="btn-group" dropdown is-open="status.isopen" ng-controller="DropdownCtrl" ng-show="form.isSet(0)">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Create a new Event <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="form.setForm(1); clearformdata()">Medicine</a></li>
        <li><a ng-click="form.setForm(2); clearformdata()">Symptom</a></li>
        <li><a ng-click="form.setForm(3); clearformdata()">Height/Weight</a></li>
        <li><a ng-click="form.setForm(4); clearformdata()">Temperature</a></li>
      </ul>
    </div>
  </div>
  <div class="list-group-item" ng-repeat="event in events">
    <div class='container-fluid' ng-controller="KidEditController">
      <h3 class="text-center">Date: {{event.datetime | date: 'MM/dd/yyyy'}}</h3>
      <h3>{{event.time}}</h3>
      <h3 class="text-center">Type: {{event.type}}</h3>
      <h3 ng-show="event.meds">Meds: {{event.meds}}</h3>
      <h3>{{event.description}}</h3>
      <h3 ng-show="event.temperature">{{event.temperature}} degrees</h3>
      <h3 ng-show="event.height">Height: {{event.height}}</h3>
      <h3 ng-show="event.weight">Weight: {{event.weight}} lbs</h3>
      <a class="btn btn-primary btn-lg" ng-click="duplicate(event)">Duplicate</a>
      <a class="btn btn-primary btn-lg" ng-click="delete(event)">Delete</a>
      <a class="btn btn-primary btn-lg" ng-click="showform = !showform">Edit</a>
      <event-edit></event-edit>
    </div>
  </div>
